{% extends 'base.html.twig' %}

{%  block title %}Edition de {{ product.name }}{% endblock %}

{% block body %}

    <h1>Editer le produit {{ product.name }}</h1>


    {% form_theme formView 'form/_my_form_style.html.twig' %}

    {{ form_start(formView, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_errors(formView) }}

    <div class="row">
        <div class="col">
            {{ form_row(formView.mainPicture) }}
            {{ form_row(formView.uploads) }}

        </div>
        <div class="col">
            {{ form_row(formView.name) }}
            {{ form_row(formView.category) }}
            {{ form_row(formView.shortDescription) }}
            {{ form_row(formView.price) }}

        </div>
    </div>
    {# Si la route est /admin/produit/{id}/editer, on ajoute les images => simple sécurité #}
    {% if app.request.attributes.get('_route') == 'product_edit' %}
        <h2>Images</h2>
        {% for image in product.images %}
            <div>
                {#// todo image de#}
                <img src="{{ asset('uploads/product_image/'~ image.name) }}" alt="Image de {{ product.name }}" width="150">
                <a href="{{ path('product_image_delete', {id: image.id}) }}"
                   data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"
                >Supprimer l'image</a>
            </div>
        {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-lg"></i>
        Editer le produit
    </button>
    {{ form_end(formView) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}