{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    <h1>ADMINISTRATION DU SITE</h1>
    <h2>Les catégories - <a class="btn btn-outline-info btn-sm" href="{{ path('category_create') }}">Ajouter une catégorie</a>
         -     <a class="btn btn-outline-info btn-sm" href="{{ path('categories') }}">Editer</a>

    </h2>
    <h2>Les produits - <a class="btn btn-outline-info btn-sm" href="{{ path('product_create') }}">Ajouter un produit</a>
    </h2>
{% else %}
    <h1>Nos produits phares</h1>
{% endif %}

    <div class="row">
        {% for p in products %}
            <div class="col-sm">
                {% for image in p.images %}
                    {%  if loop.first %}
                        <div>
                            <img src="{{ asset('/uploads/'~ image.name) }}" width="400" alt="Image de {{ p.name }}"
                                 class="img-fluid img-thumbnail">
                        </div>
                    {%  endif %}
                {% endfor %}
               {% include 'product/_product_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <hr>
    <h2>Un service irréprochable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci id, iste quasi repellat saepe.</p>

    <div class="row">
        {% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
            {% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
            {% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores dolor eos et eum minus reiciendis soluta tenetur voluptatibus?"
        }%}
    </div>
{% endblock %}
