
<div class="row">

{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5edb4">
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
{% endif %}

    <a class="navbar-brand ms-4" href="/">K-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">

            {# Service CategoryUtils #}
            {% for c in categoryUtils.catListAllButLast() %}
                {% if c.products.count() > 0 %}
                 {#Affiche les catégories non vides dans la Navbar sauf "AUTRE" #}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('product_category', {'slug': c.slug}) }}">{{ c.name }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% for c in categoryUtils.catOnlyLast() %}
                {% if c.products.count() > 0 %}
                    {#Affiche les catégories non vides dans la Navbar sauf "AUTRE" #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_category', {'slug': c.slug}) }}">{{ c.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}




            {# categoryRepository injecté dans les Globals de Twig --> twig.yaml #}
            {#{% for c in categoryRepository.findAll() %}#}
                {#{% if c.products.count() > 0 %}#}
                    {# Affiche les catégories dans la Navbar sauf "AUTRE" #}
                    {#{% if c.name matches '/autre/i' %}#}
                        {# On n'affiche pas "AUTRE" #}
                        {#{% else %}#}
                            {#<li class="nav-item">#}
                                {#<a class="nav-link" href="{{ path('product_category',#}
                                {#{'slug': c.slug}) }}">{{ c.name }}</a>#}
                            {#</li>#}
                    {#{% endif %}#}
                {#{% endif %}#}
            {#{% endfor %}#}

             {#Affichage de 'AUTRE' à la fin #}
             {#Define categoryEndNavbar in twig Globals #}
            {#{% set cat_fin_navbar = categoryRepository.findOneBy({'name':categoryEndNavbar}) %}#}

            {#{% if cat_fin_navbar and cat_fin_navbar.products.count() > 0 %}#}
                {#<li class="nav-item">#}
                     {#<a class="nav-link" href="{{ path('product_category',#}
                     {#{'slug': cat_fin_navbar.slug}) }}">{{ cat_fin_navbar.name }}</a>#}
                {#</li>#}
            {#{% endif %}#}

        </ul>
        <div class="position-absolute end-0">
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a href="{{ path('cart_show') }}" class="nav-link">
                        {% if cartService.totalCartItems %}
                            {#({{ cartService.totalCartItems }}) Panier#}

                            <span class="position-relative"
                                  data-toggle="tooltip" data-placement="bottom"
                                  title="+{{ cartService.total|amount }}">
                                {#<i class="fas fa-shopping-cart"></i>#}
                                Panier
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                style="background-color:Salmon!important;">
                                {{ cartService.totalCartItems }}
                                    <span class="visually-hidden">Total cart items</span></span>
                            </span>

                            {% else %}
                                Panier

                        {% endif %}
                    </a>

                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('purchase_index') }}" class="nav-link">
                            Mes commandes
                        </a>
                    </li>
                    <li class="nav-item nav-link">Bienvenue, {{ app.user.email }}</li>
                    <li class="nav-item"><a href="{{ path('security_logout') }}" class="btn btn-danger">déconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a href="#" class="nav-link">inscription</a></li>
                    <li class="nav-item"><a href="{{ path('security_login') }}" class="btn btn-success">connexion</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
</div>
